.login-page{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(135deg,#e8f3f5,#f8f5ef);
  padding:30px;
}

.login-card{
  width:380px;
  background:white;
  padding:35px;
  border-radius:18px;
  box-shadow:0 10px 35px rgba(0,0,0,.12);
}

.login-card h1{
  text-align:center;
  color:#164e63;
  margin-bottom:5px;
}

.login-card p{
  text-align:center;
  color:#777;
  margin-bottom:25px;
}

.login-input{
  width:100%;
  padding:13px;
  margin-bottom:16px;
  border:1px solid #d5dfe2;
  border-radius:9px;
  box-sizing:border-box;
  outline:none;
}

.login-input:focus{
  border-color:#168aad;
}

.login-btn{
  width:100%;
  padding:13px;
  border:none;
  border-radius:9px;
  background:#167d8d;
  color:white;
  font-size:16px;
  cursor:pointer;
}

.login-btn:hover{
  background:#125f6b;
}

.register-text{
  text-align:center;
  margin-top:20px;
  font-size:14px;
}

.register-text a{
  color:#167d8d;
  font-weight:bold;
  text-decoration:none;
}
.login-error{
  color:#d62828;
  background:#ffe8e8;
  padding:10px;
  border-radius:7px;
  margin-bottom:15px;
  text-align:center;
  font-size:13px;
}