@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f8fafc;
}
.hero-section {
  min-height: 600px;

  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),
    url("https://images.unsplash.com/photo-1566073771259-6a8506099945?auto=format&fit=crop&w=1600&q=80");

  background-size: cover;
  background-position: center;

  display: flex;
}

.hero-small-text {
  letter-spacing: 4px;
  font-size: 14px;
  margin-bottom: 15px;
}

.hero-section h1 {
  font-size: 64px;
}

@media (max-width: 768px) {
  .hero-section {
    min-height: 500px;
  }

  .hero-section h1 {
    font-size: 42px;
  }
}